# Logs
Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DB_Store
*.suo
*ntvs*
*.sw?

# node_modules
client/node_modulesserver/node_modules

# env
client/.env
server/.env
